* {
  box-sizing: border-box;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.big {
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s;
  position: relative;
}

.outline {
  position: absolute;
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s;
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small {
  position: absolute;
  width: 15px;
  height: 15px;
  transition: width 1s, height 1s;
  z-index: 2;
}

.one {
  top: 0;
  left: 0;
}

.two {
  top: 0;
  right: 0;
}

.three {
  bottom: 0;
  left: 0;
}

.four {
  bottom: 0;
  right: 0;
}
